[submodule "portfolio-app"]
	path = portfolio-app
	url = git@github.com:kmajeshkrishnan/portfolio-app.git
[submodule "portfolio-backend/CutLER"]
	path = portfolio-backend/CutLER
	url = https://github.com/facebookresearch/CutLER.git
[submodule "portfolio-backend/LightRAG"]
	path = portfolio-backend/LightRAG
	url = https://github.com/HKUDS/LightRAG.git
